<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1 class='heading'>Jokes</h1>
  <p *ngIf="joke" class="jokes">{{ joke.value }}</p>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
      <img [src]="image.random" alt="random images" class="img-fluid img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
      <img [src]="image.blur" alt="random images" class="img-fluid img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
      <img [src]="image.any" alt="random images" class="img-fluid img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
      <img [src]="image.grayScale" alt="random images" class="img-fluid img-thumbnail rounded mx-auto d-block">
    </div>
  </div>
